.carousel {
            height: 900px !important;
        }
        .carousel-inner img {
        height: 1200px !important;
            margin: 0 auto;
        }
        .carousel-indicators li {
            border-color: #000;
        }
        .carousel-indicators .active {
            background-color: #000;
        }
        .navbar-brand img {
            margin-right: 120px;
        }
        .navbar-nav {
            margin-right: 45px;
        }
        .nav-link {
            font-size: 125%;
        }

body {
    background-image: url("https://i.im.ge/2024/03/23/RnCCkp.backgr.jpeg") !important;
}
.link-icon {
    background-image: url('static/logo/favicon-32x32.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}
<style>
        .shoe-image {
            max-width: 200px;
            max-height: 200px;
        }
    </style>


