<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('main')}}">
            <img src="static/logo/free-icon-font-home-3917743.png" alt="Logo" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a href="{{ url_for('add_model') }}">
                <img src="static/logo/free-icon-font-add-3914248.png" alt="Logo" width="30" height="30">
            </a>
        </div>
    </nav>

    <div class="container mt-3">
        <h1>Привіт</h1>

<div class="row mt-5">
{% for id in range(length) %}
<div class="col-4">
<div class="card mb-4">
<div class="embed-responsive embed-responsive-16by9">
<img class="card-img-top embed-responsive-item" src= "{{ shoes['photo1'][id] }}" alt="">

</div>
<div class="card-body">
<h2 class="h5 card-title">{{shoes['name'][id]}}</h2>
<p class="card-text"> </p>
<a href="/tours/{{ id }}/" class="btn btn-sm btn-primary">Деталі туру</a>
</div>
</div>
</div>
{% endfor %}
</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
