<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoes</title>
    <link rel="shortcut icon" href="static/logo/favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .shoe-image {
            max-width: 100px;
            max-height: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('main')}}">
            <img src="https://i.im.ge/2024/03/27/WODX3r.site-logo.png" alt="Logo" width="240" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a href="{{ url_for('add_model') }}">
                <img src="https://i.im.ge/2024/03/27/WODeH6.add-logo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <img src="{{ model['photo1'] }}" alt="Photo 1">
            </div>
            <div class="col-md-3">
                <h1>{{ model['name'] }}</h1>
                <p><strong>Опис:</strong> {{ model['description'] }}</p>
                <p><strong>Тип:</strong> {{ model['type'] }}</p>
                <p><strong>Ціна:</strong> {{ model['price'] }}</p>
                <a href="order" class="btn btn-primary">Замовити</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
