<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoes</title>
    <link rel="shortcut icon" href="static/logo/favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('main')}}">
            <img src="static/something/site_logo.png" alt="Logo" width="240" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="sneakers"><span class="font-weight-bold">Кросівки</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="flipflops"><span class="font-weight-bold">Шльопанці</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loafers"><span class="font-weight-bold">Лофери</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="slipons"><span class="font-weight-bold">Сліпони</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sandals"><span class="font-weight-bold">Босоніжки</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shoe"><span class="font-weight-bold">Туфлі</span></a>
                </li>
            </ul>
            <a href="{{ url_for('add_model') }}">
                <img src="static/logo/add_logo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
    </nav>
</body>
</html>